    <div class="contrib-container">

      <div class="contrib-search">
        <h2 class="cover-heading">Contribution Trends</h2>
        <md-input type="text" placeholder="GitHub Handle" ng-model="gitName" ng-keypress="($event.which === 13)?getUserContributionData():0"></md-input>
        <md-button ng-click="getUserContributionData()">Find Them</md-button>
        <md-button ng-if="tableFuncCalled" ng-click="makeBarChart()">Chart Them</md-button>          
        <md-button ng-if="tableFuncCalled" ng-click="resetContribChart()">Reset Them</md-button>          
      </div>

      <div ng-if="contribChartCalled" id="contribsChart" class="clearfix">
        <svg style="height:500px;">
        </svg>
      </div>

      <div class='row'>
        <!-- <div class='col-md-12'> -->
          <hr>
        <!-- </div> -->
      </div>

      <div ng-if="tableFuncCalled"class="table-responsive-vertical shadow-z-1 contrib-table">     
        <table id="table" class="table table-hover table-mc-light-blue">
          <thead>
            <tr>
              <th>Username</th>
              <th>Total Contributions</th>
              <th>Daily Average, Lifetime</th>
              <th>Daily Average, Past Month</th>
              <th>Link</th>
              <th>Email</th>
              <!-- For future 'favorites functionality' -->
              <!-- <th>Favorite</th> -->
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="event in totalEvents" ng-if="event.loaded">
              <td data-title="Username">{{event.username}}</td>
              <td data-title="Total Contributions">{{event.total}}</td>
              <td data-title="Average">{{event.overallAverage}}</td>
              <td data-title="Last Month Average">{{event.pastMonthAverage}}</td>
              <td data-title="Link"><a ng-href="{{event.link}}">GitHub</a></td>
              <td data-title="Email">{{event.email}}</td>
              <!-- Theoretically this would add the user to a favorites list, but I'm still unsure how to make that happen -->
              <!-- <td data-title="Favorite" ng-click="addToFavorites()">Add</td> -->
            </tr>            
          </tbody>
        </table>
      </div>
    </div>